<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-info-circle"></i>
			<span class="p-l-1">添加一个报警</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>


	<div class="modal-content">
		<div class="text-center">
			<img src="public/img/alert_howto_new.png"></img>
		</div>
		<p class="p-a-2 text-center offset-lg-1 col-lg-10">
			警报是在任何仪表板图形面板的<strong>警报标签</strong>中添加和配置的，让您可以使用现有的查询构建和可视化警报。要持久化警报规则更改，请记住保存仪表盘。
			<br>
			<br>
		</p>
	</div>

</div>

